@model Bi_anlasam.Models.Ilan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ilan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IlanTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IlanTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kullanici)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kullanici.KullaniciId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ders)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ders.DersId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Baslik)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IlanDurum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IlanDurum)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IlanId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
