@model IEnumerable<Bi_anlasam.Models.Ilan>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IlanTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kullanici)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ders)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Baslik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aciklama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IlanDurum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IlanTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kullanici.Adi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ders.DersId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Baslik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aciklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IlanDurum)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IlanId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IlanId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IlanId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
